* {
  margin: 0;
  padding: 0;
  box-shadow: none;
  box-sizing: border-box;
}

html body {
  background-color: rgb(72, 76, 80);
  color: aliceblue;
}

header {
  background-color: rgb(58, 56, 56);
  color: white;
  padding: 1rem;
  margin-bottom: 5%;
}

h2 {
  margin-bottom: .5rem;
  margin-top: 1rem;
}

fieldset {
  padding: 1rem;
}


button:hover {
  cursor: pointer;
}

footer {
  background-color: rgb(58, 56, 56);
  color: white;
}