html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-size: xx-large;
  background-color: rgb(231, 229, 226);
}

header {
  background-color: rgba(82, 79, 79, 0.712);
  color: white;
  padding: 10px;
  margin-bottom: 30px;
}

header p {
  font-weight: bold;
  font-size: 1.5em;
  margin-bottom: 20px;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  list-style: none;
}

header nav ul li {
  font-weight: 400;
}

ul {
  list-style: none;
}

aside {
  padding: 10px;
  margin: auto;
}

aside h2 {
  font-size: 1.3em;
  margin-bottom: 15px;
}

article p {
  font-size: 1.2em;
  margin-bottom: 13px;
}

footer {
  background-color: rgba(82, 79, 79, 0.712);
  color: white;
  padding: 10px;
  margin-top: 30px;
  font-size: 1.3em;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  body {
    background-color: brown;
    color: antiquewhite;
  }

  header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(58, 7, 7, 0.712);
    padding: 10px;
    margin-bottom: 30px;
  }

  .container {
    padding: 30px;
  }

  .container-aside {
    display: flex;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  body {
    background-color: rgb(29, 112, 112);
  }

  header {
    background-color: rgb(15, 75, 55);
  }

  .container-section {
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 40px;
  }

  .container-section .container-aside {
    order: 2;
  }

  .container-section article {
    width: 75%;
    margin-right: 5%;
    order: 1;
  }

  .container-aside {
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
  }

  .aside-one {
    margin: 40px 0;
  }

  .aside-two {
    margin: 0;
  }

  footer {
    background-color: rgb(15, 75, 55);
  }
}